/* shared-font-style */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(13, 19, 33);
}
main{
    max-width: 1440px;
}

.studing{
 text-align: center;
}
.banner{
    background-image: url(../assets/Hero-bg.png);
    width: 1440px;
    height: 652px;
    left: 0;
    right: 0;
    top: 131px;
    bottom: 4462px;
    margin-bottom: 0;
}
nav h2{
    text-align: center;
    font-weight: 800;
    font-size: 48px;
}
nav p {    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin: 0px 294px 24px 294px;
    padding: 14px;
}
.nav-button{
    text-align: center;
}
header div button{
    background-color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: 208px;
    height: 66px;
    border-radius: 8px;
    padding: 21px 24px 21px 24px;
}
.second-title{
    text-align: center;
}
.second-title h2{
    font-size: 32px;
    font-weight: 800;
}
.second-title p{
    font-size: 16px;
    font-weight: 400;
}
ul li{
    list-style: none;
}
.list1{
    display: flex;
}
.list1 div {
    /* text-align: left; */
    /* width: 477px; */
    /* height: 140px; */
    position: static;
    width: 646px;
    height: 236px;
    margin-top: 20px;
    padding: 58px;
}
.list1 div h3 {
    /* color: red; */
    font-size: 24px;
    font-weight: 700;
    /* line-height: 36px; */
    /* letter-spacing: 0%; */
    text-align: left;
}
.list1 div p{
    /* color: red; */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.list2{
    display: flex;
}
.list2 div{

    position: static;
width: 546px;
height: 336px;
margin-top: 20px;
padding: 48px;

}
.list3 div {
    position: static;
width: 646px;
height: 236px;
margin-top: 20px;
padding: 48px;
}
.list3{
    display: flex;
}

.content{
    background-color:rgba(13, 19, 33, 0.02);
    margin: 65px 150px 65px 150px;
    text-align: center
    width: 1140px;
    height: 1395px;
    align-items: center;
    padding: 30px 97px 80px 97px;
}
.content2{
    text-align: center;
}    
.content2 h3{
    font-size: 32px;
    font-weight: 800;
    /* line-height: 37px; */
}
.content2 p{
   
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin: 10px 292px 25px 292px;
}
.youtubev{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);;
    padding: 32px;
    border-radius: 16px;
}
.content3{
    margin-top: 150px;
    text-align: center;
}
.content3 h3 {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}
.content3{
    margin: 61px 144px 0px 144px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.skills-container{
    display: flex;
    gap: 24px;

}
.skill{
    padding: 40px;
    text-align: left;
    width: 364px;
    height: 299px;
    margin-top: 48px;
    /* margin-left: 24px; */
    /* margin-right: 34px; */
}
.skill-title{
    width: 284px;
    height: 36px;
}
.skill-description{
    width: 284px;
    height: 52px;
}
.bgc1{
background-color: rgba(255, 76, 30, 0.05);
}
.bgc2{
background-color: rgba(0, 76, 232, 0.05);
}
.bgc3{
background-color: rgba(255, 223, 0, 0.05);
}
.fotter{
    background-image: url(../assets/handshake.jpg);
    width: 1140px;
    height: 313px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 64px 48px ;
    margin-left: 145px;
    margin-right: 75px;
    margin-top: 75px;
}
.fotter h4{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
.fotter p{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 300;
letter-spacing: 0%;
text-align: left;
padding-right: 35px;
}