/* shared-font-style */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(13, 19, 33);
}
main{
    max-width: 1440px;
}

.studing{
 text-align: center;
}
.banner{
    background-image: url(../assets/Hero-bg.png);
    width: 1440px;
    height: 652px;
    left: 0;
    right: 0;
    top: 131px;
    bottom: 4462px;
    margin-bottom: 0;
}
nav h2{
    text-align: center;
    font-weight: 800;
    font-size: 48px;
}
nav p {    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin: 0px 294px 24px 294px;
    padding: 14px;
}
.nav-button{
    text-align: center;
}
header div button{
    background-color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: 208px;
    height: 66px;
    border-radius: 8px;
    padding: 21px 24px 21px 24px;
}
.second-title{
    text-align: center;
}
.second-title h2{
    font-size: 32px;
    font-weight: 800;
}
.second-title p{
    font-size: 16px;
    font-weight: 400;
}
ul li{
    list-style: none;
}
.list1{
    display: flex;
}
.list1 div {
    /* text-align: left; */
    /* width: 477px; */
    /* height: 140px; */
    position: static;
    width: 646px;
    height: 236px;
    margin-top: 20px;
    padding: 58px;
}
.list1 div h3 {
    /* color: red; */
    font-size: 24px;
    font-weight: 700;
    /* line-height: 36px; */
    /* letter-spacing: 0%; */
    text-align: left;
}
.list1 div p{
    /* color: red; */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.list2{
    display: flex;
}
.list2 div{

    position: static;
width: 546px;
height: 336px;
margin-top: 20px;
padding: 48px;

}
.list3 div {
    position: static;
width: 646px;
height: 236px;
margin-top: 20px;
padding: 48px;
}
.list3{
    display: flex;
}

.content{
    position: absolute;
    width: 1140px;
    height: 1395px;
    left: 148px;
    right: 152px;
    top: 857px;
    align-items: center;
    padding: 30px 97px 80px 97px;
    margin-top: 0;
}
    